@using System.Web.Mvc.Html
@using HtmlConventionsSample.Edit
@using MvcPowerTools.Html
@model HtmlConventionsSample.Edit.ViewModels.AddPostModel



@using (Html.BeginForm<AddPostController>(f => f.DoGET().Attr("role", "form")))
{
    @Html.EditModel()   
    <button type="submit" class="btn btn-primary">Add</button>
}

