@using System.Web.Mvc.Html
@model HtmlConventionsSample._Auxilia.Data.SomeTemplate

<div>
    <b>
       <i> Rendering editor template</i>
        @Html.TextBox(d => d.Name).Style("color","green")   
    </b>
</div>